* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Monospace;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background.jpg);
    background-size: cover;
}

.calcbox {
    background-image: linear-gradient(#00B4DB, #084c63);
    border-radius: 30px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
}

input {
    grid-column: span 4;
    height: 90px;
    width: 263px; 
    background-color: skyblue;
    border: none;
    border-radius: 32px;
    text-align: end;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    font-weight: 900;
    font-size: 40px;
}
h1{
    grid-column: span 4;
    text-align: start;
    color: lightgray;
    font-size: 15px;
    text-align: center;
    background: none;
}
button {
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    height: 50px;    
    width: 50px;
    margin: 5px;        
    font-weight: 900;    
    font-size: 16px;
    color: gray;
}
button:hover{
    color: skyblue;
}
button:active {
    color: white;
    background-color: #ade8f4;
}
.equal{
    grid-column: span 4;
    width: 250px;
    border-radius: 40px;
    background-color: orange;
}
#inputnum {
    color: gray;
}
.sign {
    background-color: orange; 
}
.sign1 {
    color: orange;
}
