* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: monospace;
    background-color: lightgray;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background.jpg);
    background-size: cover;
}

.calcbox {
background: darkred;
    box-shadow: 6px 6px 13px gray,
                6px 6px 13px rgba(0, 0, 0, .20);
    border-radius: 30px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
}

input {
    grid-column: span 4;
    height: 90px;
    width: 264px;
    box-shadow: inset -6px -6px 13px skyblue,
                inset 6px 6px 13px rgba(0, 0, 0, .4);    
    background-color: skyblue;
    border: none;
    border-radius: 32px;
    color: rgb(26, 25, 25);
    text-align: end;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    font-weight: 900;
    font-size: 40px;
}
h1{
    grid-column: span 4;
    text-align: start;
    color: lightgray;
    font-size: 15px;
    text-align: center;
    background: none;
    font-family: monospace;
}
button {
    box-shadow: inset 6px 6px 13px #fff,
                6px 6px 13px rgba(0, 0, 0, .2);
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    height: 50px;    
    width: 50px;
    margin: 5px;        
    font-weight: 900;    
    font-size: 16px;
    color: gray;
}
button:active {
    color: white;
}
.equal{
    grid-column: span 4;
    width: 250px;
    border-radius: 40px;
    box-shadow: inset 6px 6px 13px orange,
                6px 6px 13px rgba(0, 0, 0, .16);
    background-color: orange;
}
#inputnum {
    color: gray;
}
.sign {
    background-color: orange;
    box-shadow: inset 6px 6px 13px orange,
                6px 6px 13px rgba(0, 0, 0, .16);
}
.sign1 {
    color: orange 
}
